@import "base/Variables";
@import "base/Reset-style";
@import "layout";

.glossaires_wrapper {
  padding: 1.2em 0.8em;
  background: #fff;
  .title {
    font-size: 8px;
    text-align: center;
    border-top: 5px solid lightgrey;
    padding: 4em 1em;

    span {
      font-weight: normal;
      font-size: 0.9rem;
    }
  }

  .tool_card {
    margin-left: 3em;

    .wrapper {
      a {
        background: transparent;
        padding: 0;
        text-decoration: underline;
      }

      ul {
        margin-left: 4em;
      }
    }
  }
}
button a {
  background: transparent;
  padding: 0;
  margin-block: 0px;
  font-size: inherit;
}

.vocabulary_container {
  margin-top: 2em;

  .fa-circle-exclamation {
    color: red;
  }
  .fa {
    transition: 0.25s;
  }
  .anim_accord {
    transform: rotate(90deg);
  }

  .accord_head {
    padding: 1em;
    font-size: 16px;
    background: teal;
    margin-top: 10px;
  }

  .accord_body {
    display: none;

    &.open_accord {
      display: block;
    }

    .child_wrap {
      display: grid;

      grid-template-columns: 170px 1fr;
      padding: 0.5em;

      div:has(label) {
        display: flex;
        justify-content: space-between;
        align-items: start;
      }
    }

    input {
      min-width: 300px;
      padding: 0.5em 0.7em;
      font-size: 1.1rem;
    }
  }

  button {
    padding: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }

  .enregistrer {
    color: aliceblue;
    background: teal;
    margin-left: 0;
  }
}
// Editor feature color
.highlight-yellow {
  background-color: yellow;
}

.highlight-green {
  background-color: green;
}

.highlight-blue {
  background-color: blue;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}
