.hero_of_main {
    height: 150px;
    background: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80")
      center/cover;
    border-radius: 5px;
    padding: $pad_hero;
    // display: flex;
    // justify-content: space-between;
    position: relative;

    .wrap:has(h1) {
      position: absolute;
      top: $pad_hero;
      left: $pad_hero;
    }
    .wrap:has(img, i) {
      position: absolute;
      bottom: $pad_hero;
      right: $pad_hero;
    }
    h1 {
      font-size: 2rem;
      padding: 0.16em 0.28em;
      background-color: $teal_prime;
      color: #fff;
      width: fit-content;
      border-radius: 5px;
    }
    img,
    i {
      width: $sz_icone;
      color: azure;
    }
  }