// @import '../../pages/scss/Colors';
i{
    margin-right: 1em;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background: darken($teal_prime, $sec_teal_num);
    color: #fff;
    padding-block: 1.3em;
    position: relative;

    a{
        padding: 0;
        background: transparent;
        color: #fff;
    }
    .colomn{
        flex-basis: 35%;

        ul{
            padding-left: 2.5em;
        }
        
        .social_medias{
            display: inline-flex;
            gap: 1em;
        }
        >:last-child{
            margin-top: 3em;
        }
    }
}