* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page_container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.page_container .page {
  overflow: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0.7em 0.6em 0 0;
  background: #fff;
}
.page_container .page .left_menu {
  width: 300px;
  margin-left: -350px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.page_container .page .left_menu.active {
  margin-left: 0;
}
.page_container .page .main_wrapp {
  overflow: auto;
}
.page_container .page .main_wrapp .main_board {
  overflow-y: auto;
  margin: 0 0.6em;
  margin: 0 0.6em;
  -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.33);
          box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.33);
}
.page_container .page .main_wrapp .main_board .hero_of_main {
  height: 150px;
  background: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80") center/cover;
  border-radius: 5px;
  padding: 1.7em;
  position: relative;
}
.page_container .page .main_wrapp .main_board .hero_of_main .wrap:has(h1) {
  position: absolute;
  top: 1.7em;
  left: 1.7em;
}
.page_container .page .main_wrapp .main_board .hero_of_main .wrap:has(img, i) {
  position: absolute;
  bottom: 1.7em;
  right: 1.7em;
}
.page_container .page .main_wrapp .main_board .hero_of_main h1 {
  font-size: 2rem;
  padding: 0.16em 0.28em;
  background-color: #005259;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}
.page_container .page .main_wrapp .main_board .hero_of_main img,
.page_container .page .main_wrapp .main_board .hero_of_main i {
  width: 25px;
  color: azure;
}
.page_container .page .main_wrapp .main_board .outils_contents {
  padding: 1.2em 0.8em;
}
.page_container .page .main_wrapp .main_board .outils_contents .title {
  font-size: 8px;
  text-align: center;
  border-top: 5px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 4em 1em;
}
.page_container .page .main_wrapp .main_board .outils_contents .title span {
  font-weight: normal;
  font-size: 0.9rem;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents {
  padding: 1em 3em;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents > p {
  text-align: right;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents .tool_card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-left: 3em;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents .tool_card > i {
  margin: 0.8em;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents .tool_card .wrapper a {
  background: transparent;
  padding: 0;
  text-decoration: underline;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents .tool_card .wrapper ul {
  margin-left: 4em;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents .tool_card input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.page_container .page .main_wrapp .main_board .outils_contents .contents .tool_card:not(:has(i)) {
  grid-template-columns: 1fr auto;
}

/* General */
nav {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
  -webkit-box-shadow: 0px 0px 16px rgba(91, 91, 91, 0.801);
          box-shadow: 0px 0px 16px rgba(91, 91, 91, 0.801);
  position: sticky;
  top: 0px;
  z-index: 2;
}
nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3em;
}
nav > ul li {
  list-style: none;
  padding: auto;
}
nav > ul li:has(i, img) {
  margin: 0;
  padding: 0;
}
nav > ul li:has(label) {
  padding: 1em 0.5em;
}
nav > ul li label {
  display: block;
}
nav > ul li ul, nav > ul li li div ul, nav > ul li .subMenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
  padding: 0.5em;
  position: absolute;
  top: 101%;
  /* left: -45%; */
  right: -10px;
  width: max(205px, 150%);
  z-index: 2;
  background: white;
  -webkit-box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
          box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
}
nav > ul li ul a, nav > ul li li div ul a, nav > ul li .subMenu a {
  display: block;
  font-size: 0.85rem;
}
nav > ul li ul.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* _________________ */
/* Specific */
.left_nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.right_nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1.5em;
}

/* ----------  Sub menu styles   -------------- */
.menuItem1 {
  position: relative;
}

.subMenu:nth-child(2) {
  left: -30px;
  top: 101%;
}

.subMenu.s {
  width: 250%;
}

.profile_open {
  display: block;
}

.subMenu li {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  text-align: left;
  padding: 0.6em 1em;
}

.subMenu button {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: left;
  padding-block: 0.6em;
}

.sub_menu_profile button:first-child {
  border-bottom: 1px solid lightgrey;
}

.sub_menu_profile button i {
  margin-right: 10px;
}

.subMenu.open {
  display: block;
}

/* _________________ */
/* Common */
.s_Icon {
  width: 12px;
}

img.menu {
  width: 20px;
}

.left_nav button {
  outline: none;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.089);
}

.left_nav button:hover {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: hsla(180, 100%, 25%, 0.205);
}

.m_Icon {
  width: 20px;
}

.big_icon {
  width: 50px;
}

.fa-solid.big_icon {
  font-size: 25px;
}

.profile {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.fa_icone {
  color: #005259;
  font-size: 25px;
}

a {
  display: block;
  padding: 0.4em 0.6em;
  background: #fff;
  color: #005259;
  margin-block: 5px;
  text-decoration: none;
}
a:hover {
  background: #e3e3e3;
}

i {
  width: 25px;
  margin-right: 0.3em;
}

.left_menu,
.left_menu.home {
  border-radius: 5px;
  background: #005259;
  overflow: hidden;
  color: #fff;
  display: grid;
  grid-template-rows: auto 1fr;
  -webkit-box-shadow: 0 0 5px lightgrey;
          box-shadow: 0 0 5px lightgrey;
}
.left_menu .wrap_tabs,
.left_menu.home .wrap_tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 5px;
}
.left_menu .wrap_tabs .tab_head,
.left_menu.home .wrap_tabs .tab_head {
  background: #00444a;
  padding: 0.4em;
  color: #cacaca;
  text-align: center;
  cursor: pointer;
}
.left_menu .wrap_tabs .tab_head:hover,
.left_menu.home .wrap_tabs .tab_head:hover {
  background: #002326;
}
.left_menu .wrap_tabs .tab_head.active,
.left_menu.home .wrap_tabs .tab_head.active {
  background: #003135;
  color: #fff;
  font-weight: 500;
}
.left_menu .wrap_content,
.left_menu.home .wrap_content {
  background: #003135;
  padding: 0.4em;
  display: none;
}
.left_menu .wrap_content a,
.left_menu.home .wrap_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.left_menu .wrap_content a img,
.left_menu.home .wrap_content a img {
  width: 25px;
  margin-right: 5px;
}
.left_menu .wrap_content a.aside-item-course-title,
.left_menu.home .wrap_content a.aside-item-course-title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.left_menu .wrap_content a.aside-item-course-title i,
.left_menu.home .wrap_content a.aside-item-course-title i {
  margin-top: 5px;
}
.left_menu .wrap_content .profile_data,
.left_menu.home .wrap_content .profile_data {
  display: grid;
  gap: 0.5em;
}
.left_menu .wrap_content .profile_data .my_courses,
.left_menu.home .wrap_content .profile_data .my_courses {
  background: #fff;
  color: #000;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 17px hsla(0, 0%, 50%, 0.66);
          box-shadow: 0 0 17px hsla(0, 0%, 50%, 0.66);
}
.left_menu .wrap_content .profile_data .my_courses h2,
.left_menu.home .wrap_content .profile_data .my_courses h2 {
  font-size: 1.25rem;
  margin-bottom: 0em;
}
.left_menu .wrap_content .profile_data .prfile_info,
.left_menu.home .wrap_content .profile_data .prfile_info {
  background: #fff;
  color: #000;
  padding: 1em 1em;
  border-radius: 5px;
}
.left_menu .wrap_content .profile_data .prfile_info .status,
.left_menu.home .wrap_content .profile_data .prfile_info .status {
  font-size: 1.25rem;
}
.left_menu .wrap_content .profile_data .prfile_info .wrap_card_info,
.left_menu.home .wrap_content .profile_data .prfile_info .wrap_card_info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.left_menu .wrap_content .profile_data .prfile_info .wrap_card_info img,
.left_menu.home .wrap_content .profile_data .prfile_info .wrap_card_info img {
  width: 60px;
  border-radius: 50%;
}
.left_menu .wrap_content .profile_data .prfile_info .wrap_card_info li,
.left_menu.home .wrap_content .profile_data .prfile_info .wrap_card_info li {
  font-weight: bold;
  list-style: none;
}
.left_menu .wrap_content .profile_data .prfile_info .wrap_card_info li span,
.left_menu.home .wrap_content .profile_data .prfile_info .wrap_card_info li span {
  font-weight: normal;
}
.left_menu .wrap_content .profile_data .prfile_info .wrap_card_info .right,
.left_menu.home .wrap_content .profile_data .prfile_info .wrap_card_info .right {
  padding-left: 1em;
}
.left_menu .wrap_content .profile_data .prfile_info .wrap_card_info .right ul,
.left_menu.home .wrap_content .profile_data .prfile_info .wrap_card_info .right ul {
  word-break: break-word;
}
.left_menu .wrap_content .profile_data .prfile_info .wrap_card_info .right ul li:last-child span a,
.left_menu.home .wrap_content .profile_data .prfile_info .wrap_card_info .right ul li:last-child span a {
  font-size: 13px;
  padding: 0;
  margin: 0;
  word-wrap: break-all;
}
.left_menu .wrap_content.sites a:last-child,
.left_menu.home .wrap_content.sites a:last-child {
  margin-top: 20px;
}
.left_menu .wrap_content.show_content,
.left_menu.home .wrap_content.show_content {
  display: block;
}

.left_menu.home .wrap_content {
  display: block;
}

i {
  margin-right: 1em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #003135;
  color: #fff;
  padding-block: 1.3em;
  position: relative;
}
footer a {
  padding: 0;
  background: transparent;
  color: #fff;
}
footer .colomn {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
footer .colomn ul {
  padding-left: 2.5em;
}
footer .colomn .social_medias {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1em;
}
footer .colomn > :last-child {
  margin-top: 3em;
}

.space {
  height: 300px;
}

.wrap:has(h1) {
  position: absolute;
  top: 1.7em;
  left: 1.7em;
}

.wrap:has(img, i) {
  position: absolute;
  bottom: 1.7em;
  right: 1.7em;
}

h1 {
  font-size: 2rem;
  padding: 0.16em 0.28em;
  color: #005259;
  border-radius: 5px;
  text-align: center;
}

button {
  padding: 0.3em 0.7em;
}

.main_content {
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  margin-block: 1em;
}
.main_content .content_head > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_content .content_head > div .filters button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(83, 83, 83);
}
.main_content .content_head > div .filters button i {
  margin: 0 10px;
}
.main_content .main_contents {
  margin-top: 1em;
}
.main_content .main_contents .card {
  width: 300px;
  outline: 1px solid lightgrey;
  border-radius: 5px;
}
.main_content .main_contents .card > img {
  aspect-ratio: 1/0.4;
  border-radius: 5px;
}
.main_content .main_contents .card .content {
  padding: 0.5em;
}
.main_content .main_contents .card .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_content .main_contents .card .content a {
  padding-inline: 0;
}
.main_content .main_contents .card .content div.progression {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main_content .main_contents .card .content div.progression progress {
  width: 100%;
}
.main_content .main_contents .card .content div.progression label {
  font-size: 0.89rem;
}

.badges_privet {
  margin-block: 1em;
  padding: 0.7em;
  background: #fff;
}

/*
footer {
  background: $teal_prime;
}
*/
.container {
  height: 100vh;
  background: url(../../imgs/bg-login.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* //////////// */
}
.container .demo_wrapper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1em;
  background: teal;
  color: white;
}
.container .demo_wrapper span {
  display: block;
  padding: 0.6em 1em;
  background: hsl(180, 100%, 16%);
  text-align: center;
}
.container .demo_wrapper a {
  display: block;
  color: #050505;
  text-decoration: none;
  cursor: pointer;
  /* padding: 0.4em 0.8em; */
  padding: 1em;
  margin: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.container .demo_wrapper a:hover {
  background: #eae9e9;
}
.container .login_wrapper {
  /* padding: 3.5em 3em 2em 3em; */
  padding: 0em 3em 0em 3em;
  background: hsla(0, 0%, 100%, 0.897);
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px hsl(0, 0%, 65%);
          box-shadow: 0 0 10px hsl(0, 0%, 65%);
}
.container .login_wrapper img {
  display: block;
  width: 75%;
  margin-inline: auto;
  margin-bottom: 0em;
}
.container .login_wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.container .login_wrapper .content :is(input:is([type=text], [type=password]), button) {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1rem;
  border-radius: 5px;
}
.container .login_wrapper .content :is(input[type=checkbox], i) {
  margin: 10px;
}
.container .login_wrapper .content input:is([type=text], [type=password]) {
  border: none;
  outline: 1px solid lightgrey;
}
.container .login_wrapper .content input:is([type=text], [type=password]):focus {
  outline: 1px solid rgb(47, 188, 239);
}
.container .login_wrapper .content .message_container {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 2em;
  /* background: bisque; */
  display: grid;
  place-items: center;
  text-align: center;
}
.container .login_wrapper .content .message_container .msg {
  display: none;
  font-size: 1rem;
}
.container .login_wrapper .content .message_container .msg.visible {
  display: block;
}
.container .login_wrapper .content button {
  background: teal;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}
.container .login_wrapper .content a {
  color: rgb(0, 0, 0);
  background: transparent;
}
.container .login_wrapper .content a:hover {
  background: transparent;
}
.container .login_wrapper .content p i {
  color: hsl(196, 80%, 51%);
}

.glossaire .glossaires_wrapper {
  padding: 1.2em 0.8em;
  background: #fff;
}
.glossaire .glossaires_wrapper .title {
  font-size: 8px;
  text-align: center;
  border-top: 5px solid lightgrey;
  padding: 4em 1em;
}
.glossaire .glossaires_wrapper .title span {
  font-weight: normal;
  font-size: 0.9rem;
}
.glossaire .glossaires_wrapper .tool_card {
  margin-left: 3em;
}
.glossaire .glossaires_wrapper .tool_card .wrapper a {
  background: transparent;
  padding: 0;
  text-decoration: underline;
}
.glossaire .glossaires_wrapper .tool_card .wrapper ul {
  margin-left: 4em;
}
.glossaire .glossaires_wrapper .glossaires_archive {
  margin-top: 2em;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap input[type=checkbox] {
  margin-left: 0.5em;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_tab_heads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_tab_heads .tab_head {
  background: #00444a;
  padding: 0.4em;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_tab_heads .tab_head:hover {
  background: #002326;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_tab_heads .tab_head.active {
  background: #003135;
  color: #fff;
  font-weight: 500;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content {
  background: #005259;
  padding: 0.4em;
  display: none;
  color: #fff;
  border-top: 6px solid #003135;
  -webkit-box-shadow: inset 0 10px 15px #003135;
          box-shadow: inset 0 10px 15px #003135;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .message {
  color: #000;
  background: #fff;
  text-align: center;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_head {
  padding: 1em;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .alphabets {
  text-align: center;
  margin-block: 1em;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .alphabets * {
  padding: 0 0.4em;
  border-right: 2px solid lightgrey;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .alphabets *:last-child {
  border-right: none;
  font-weight: bold;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .pagination {
  text-align: center;
  border-bottom: 1px solid rgba(211, 211, 211, 0.576);
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card {
  margin-block: 10px;
  padding: 1em;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid #003135;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .profile {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 clamp(50px, 30%, 130px);
          flex: 0 0 clamp(50px, 30%, 130px);
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .profile img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .profile p {
  margin-top: 0.7em;
  text-align: center;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .content_container {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .content_container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .content_container small {
  margin-top: 5px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .content_container small span {
  font-style: italic;
  background-color: lightgrey;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  color: #000;
  border-radius: 50px;
  margin-inline: 3px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .content_container .actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 max-content;
          flex: 0 0 max-content;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .content_container .actions button {
  background: #003135;
  color: #fff;
  font-weight: bolder;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.6em 1em;
  font-size: 1rem;
  -webkit-box-shadow: 0 0 10px #003b40;
          box-shadow: 0 0 10px #003b40;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .archive_display .vocab_card .content_container .actions button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #00818c;
  color: #003135;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content img {
  width: 25px;
  margin-right: 5px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data {
  display: grid;
  gap: 0.5em;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .my_courses {
  background: #fff;
  color: #000;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 17px hsla(0, 0%, 50%, 0.66);
          box-shadow: 0 0 17px hsla(0, 0%, 50%, 0.66);
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .my_courses h2 {
  font-size: 1.25rem;
  margin-bottom: 0em;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info {
  background: #fff;
  color: #000;
  padding: 1em 1em;
  border-radius: 5px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info .status {
  font-size: 1.25rem;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info .wrap_card_info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info .wrap_card_info img {
  width: 60px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info .wrap_card_info li {
  font-weight: bold;
  list-style: none;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info .wrap_card_info li span {
  font-weight: normal;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info .wrap_card_info .right {
  padding-left: 1em;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content .profile_data .prfile_info .wrap_card_info .right ul li:last-child span a {
  font-size: 13px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content.sites a:last-child {
  margin-top: 20px;
}
.glossaire .glossaires_wrapper .glossaires_archive .wrap_content.show_content {
  display: block;
}
.glossaire footer {
  background: #005259;
}

button a {
  background: transparent;
  padding: 0;
  margin-block: 0px;
  font-size: inherit;
}

.vocabulary_container {
  margin-top: 2em;
}
.vocabulary_container .fa-circle-exclamation {
  color: red;
}
.vocabulary_container .fa {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.vocabulary_container .anim_accord {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.vocabulary_container .accord_head {
  padding: 1em;
  font-size: 16px;
  background: teal;
  margin-top: 10px;
}
.vocabulary_container .accord_body {
  display: none;
}
.vocabulary_container .accord_body.open_accord {
  display: block;
}
.vocabulary_container .accord_body .child_wrap {
  display: grid;
  grid-template-columns: 170px 1fr;
  padding: 0.5em;
}
.vocabulary_container .accord_body .child_wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.vocabulary_container .accord_body input {
  width: 300px;
  padding: 0.5em 0.7em;
  font-size: 1.1rem;
}
.vocabulary_container button {
  padding: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.vocabulary_container .enregistrer {
  color: aliceblue;
  background: teal;
}